@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/SparkyStonesRegular-BW6ld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family: 'CustomFont2';
  src: url('/fonts/Teko-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CustomFont3';
  src: url('/fonts/good_times.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-custom2 {
  font-family: 'CustomFont2', sans-serif;
}
.font-cusom3 {
  font-family: 'CustomFont3' sans-serif;
}

p {
  margin: 0 auto; /* Center the paragraph */
  max-width: 700px; /* Adjust the maximum width as needed */
}