@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/SparkyStonesRegular-BW6ld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family: 'CustomFont2';
  src: url('/fonts/Teko-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CustomFont3';
  src: url('/fonts/good_times.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-custom2 {
  font-family: 'CustomFont2', sans-serif;
}
.font-cusom3 {
  font-family: 'CustomFont3' sans-serif;
}

p {
  margin: 0 auto; /* Center the paragraph */
  max-width: 700px; /* Adjust the maximum width as needed */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b; /* Darker background color for the track */
  border-radius: 10px; /* Rounder edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #64748b; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounder edges */
  border: 2px solid #1e293b; /* Adds a border around the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #475569; /* Color of the scrollbar thumb when hovered */
}

.underline-thin {
  text-decoration-thickness: 1px;
}

#top-bar, #bottom-bar {
  opacity: 0;
  transition: opacity 0.3s;
}